<div class="container">
    <div class="row">
        <div class="col-md-2">Phase</div>
        <div class="col-md-2">Module</div>
        <div class="col-md-2">Date</div>
        <div class="col-md-2">Heures</div>
        <div class="col-md-2">Signature de l'élève</div>
        <div class="col-md-2">Signature du fournisseur</div>
    </div>
    <div class="row" *ngFor="let phase of phases">
        <div class="col-md-2">
            {{phase.name}}<br>
            {{phase.description}}
        </div>
        <div class="col-md-10"></div>
        <div class="col-md-12">
            <module-list [modules]="phase.modules"></module-list>
        </div>
    </div>
</div>
